.Stories{
	margin: var(--margin-sections) 0 0 0;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.Stories-left{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
}
.Stories-p{
	width: 100%;
}
.Stories-button{
	margin: 4.75rem 0 0 0 ;
}

.Stories-right{
	display: flex;
	flex-direction: column;
	gap: 3.125rem;
}

