.Stories{
	margin: var(--margin-sections) 0 0 0;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.Stories-left{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
}


.Stories-p{
	width: 100%;
}
.Stories-button{
	margin: 4.75rem 0 0 0 ;
}

.Stories-right{
	display: flex;
	width: 100%;
	height: 700px;
}
.Stories-right::after{
	overflow-x: hidden;
}
.swiper{
	padding: 1.5rem;
}

/* .myswiper{
	display: flex;
	flex-direction: column;
} */


/* .myswiper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column;
} */

/* .swiper-wrapper {
	flex-direction: column!important;
	flex-wrap: wrap!important;
} */
.swiper-slide-users{
	width: 100%;
}

.swiper-slide{
	height: 100%;
}

.swiper-slide{
	height: 100%;
} 
.swiper-slide-prev, .swiper-slide-next, .swiper-slide-active{
	height: fit-content!important;
}