.Stories{
	margin: var(--margin-sections) 0 0 0;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.Stories-left{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
}

.Stories-p{
	width: 100%;
}
.Stories-button{
	margin: 4.75rem 0 0 0 ;
}

.Stories-right{
	display: flex;
	width: 100%;
	height: 700px;
}
.Stories-right::after{
	overflow-x: hidden;
}
.swiper{
	padding: 1.5rem;
}
.swiper-slide-users{
	width: 100%;
}
.swiper-slide{
	height: 100%;
}

.swiper-slide-prev, .swiper-slide-next, .swiper-slide-active{
	height: fit-content!important;
}

@media (width <= 576px){
	.Stories{
		margin: 4rem 0 0 0;
		display: flex;
		flex-direction: column;
	}
	.Stories-left{
		width: 100%;
		margin: 0 0 2rem 0;
	}
	.swiper-wrapper{
		margin: 50px 0 0 0;
	}
	.Stories-footer{
		margin: 2rem 0 0 0;
		width: 100%;
	}
	.Stories-web{
		display: none;
	}
}
@media (576px <= width <= 992px){
	.Stories{
		margin: 4rem 0 0 0;
		display: flex;
		flex-direction: column;
	}
	.Stories-left{
		width: 100%;
		margin: 0 0 2rem 0;
	}
	.Stories-footer{
		display: none;
	}
	.swiper-wrapper{
		margin: 50px 0 0 0;
	}
	.Stories-footer{
		margin: 2rem 0 0 0;
		width: 100%;
	}
	.Stories-web{
		display: none;
	}
	.Stories-footer{
		display: block;
	}
}

@media (992px <= width <= 1920px){
	.Stories-footer{
		display: none;
	}
}