.User{
	padding: 25px 30px;
	/* height: 400px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	border-radius: 15px;
	background: var(--White, #FFF);
	box-shadow: 0px 8px 30px 0px rgba(91, 91, 91, 0.10);

}

.User-svg{
	width: 41px;
}

.User-container{
	font-family: 'MontserratBold';
}

.User-name{
	color: var(--color-secondary);
	font-size: 22px;
}

.User-ocupation{
	font-size: 15px;
	color: var(--color-other);
}

