.Stage{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--color-tertiary) ;

	max-width: 413px;
	min-height: 500px;
	border-radius: var(--border-radius-primary);
	padding: 1.875rem;
	gap: 30px;
}

.Stage-p{
	font-size: var(--font-size-title);
	color: var(--color-secondary);
	font-family: 'MontserratBold';
}

.Stage-container{
	width: 100%;
	/* display: flex;
	flex-direction: ;
	gap: 40px; */
}

.Stage-container h3{
	min-height: 80px;
	font-size: 30px;
	font-family: 'MontserratBold';
}


.Stage-footer{
	display: flex;
	gap: 10px;
	color: var(--color-secondary);
	font-family: 'MontserratBold';
}

.Stage-a{
	font-weight: bold;
	text-decoration: underline;
}

@media (width <= 576px){

}
@media (576px <= width <= 992px){

}