.Stages{
	max-width: 500px;
	margin: var(--margin-sections) 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.Stages-slider{
	display: flex;
	margin: 4.12rem 0 0 0;
	display: flex;
	gap: 1.875rem;
	overflow-x: scroll;
}

.Stages-slider::-webkit-scrollbar{
	height: 10px;
}
.Stages-slider::-webkit-scrollbar-track{
	background-color: transparent;
}


.Swiper-container{
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.swiper{
	align-items: center;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
	position: static;
	z-index: 2;
}

.Stages-footer{
	margin: 3rem 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Stages-footer-buttons{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 950px;
}
.Stages-footer-button{
	width: 2.5rem;
	height: 2.5rem;
}

.button-right{
	transform: rotate(180deg);
}
.scrollbar{
	width: 600px;
	background-color: aqua;
}
/* 
.swiper-scrollbar{
	width: 60%!important;
} */


@media (width <= 576px){
	.Stages{
		margin: 4rem 0 0 0;
		width: 100%;
	}
	.Stages-slider{
		margin: 0;
	}
	.Stages-slide{
		margin: 2rem 0 0 0;
	}
	.Stage{
		width: 100%;
	}
	.scrollbar{
		width: 100%;
	}
	.Stages-footer-buttons{
		width: 100%;
	}
	.swiper{
		padding: 0!important;
	}
}
@media (576px <= width <= 992px){
	.Stages{
		margin: 4rem 0 0 0;
		width: 100%;
	}
	.Stages-slider{
		margin: 0;
	}
	.Stages-slide{
		margin: 2rem 0 0 0;
	}
	.Stage{
		width: 100%;
	}
	.scrollbar{
		width: 100%;
	}
	.Stages-footer-buttons{
		width: 100%;
	}
	.swiper{
		padding: 0!important;
	}
	
}

@media (992px <= width <= 1920px){
	.swiper{
		padding: 0!important;
	}
	.Stages-footer-buttons{
		width: 100%;
	}
}