.Stages{
	max-width: 500px;
	margin: var(--margin-sections) 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.Stages-slider{
	margin: 4.12rem 0 0 0;
	display: flex;
	gap: 1.875rem;
	overflow-x: scroll;
}

.Stages-slider::-webkit-scrollbar{
	height: 10px;
}
.Stages-slider::-webkit-scrollbar-track{
	background-color: transparent;
}


