.Plan{
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 1.875rem;
	/* min-width: 413px; */

	border-radius: 15px;
	background: var(--White, #FFF);
	box-shadow: 0px 8px 30px 0px rgba(91, 91, 91, 0.10);
}
.Plan:hover{
	background-color: var(--color-secondary);
	color: var(--color-primary);
	transition: color 0.1s ease-in-out;
}
.Plan hr{
	width: 100%;
}

.Plan-header{
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-family: 'MontserratBold';
}
.Plan-header h3{
	font-size: 22px;
}
.Plan-header p {
	font-size: 42px;
}
.Plan-header div{
	display: flex;
	gap: 18px;
}
.Plan-header span{
	font-size: 13px;
	align-self: center;
	margin: 10px 0 0 0;
}

.Plan-main{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px
}
.Plan-main h4{
	font-family: 'MontserratBold';
	font-size: 16px;
}

.Plan:hover a{
	background-color: var(--color-primary);
	color: var(--color-secondary);
	transition: color .3s ease-in-out ;
}

.Plan:hover .Icon-check{
	fill: var(--color-tertiary);
	transition: color 0.3s ease-in-out;
}

.Plan-main-benefits{
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 16px;
}
