.Plans-title{
	margin: var(--margin-sections) 0 0 0;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.Plans div{
	width: 50%;
}

.Plans-container{
	margin: 4.375rem 0 0 0;
	width: 100%;
	gap: 30px;
}
.Swiper-plans{
	height: 48rem;
	width: 100%;
}

@media (100px <= width <= 576px){
	.Plans-title{
		margin: 4rem 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}
@media (992px <= width <= 1920px){
	.Plans-title{
		margin: var(--margin-sections) 0 0 0;
	
		display: grid;
		grid-template-columns: 0.7fr 0.75fr;
	}
}