.Plan{
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 1.875rem;
	min-width: 413px;

	border-radius: 15px;
	background: var(--White, #FFF);
	box-shadow: 0px 8px 30px 0px rgba(91, 91, 91, 0.10);
}
.Plan hr{
	width: 100%;
}

.Plan-header{
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-family: 'MontserratBold';
}
.Plan-header h3{
	font-size: 22px;
}
.Plan-header p {
	font-size: 42px;
}
.Plan-header div{
	display: flex;
	gap: 18px;
}
.Plan-header span{
	font-size: 13px;
	align-self: center;
	margin: 10px 0 0 0;
}
