.Plans-title{
	margin: var(--margin-sections) 0 0 0;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.Plans div{
	width: 50%;
}

.Plans-container{
	margin: 4.375rem 0 0 0;
	width: 100%;
	gap: 30px;
}
.Swiper-plans{
	width: 100%;
}

@media (width <= 576px){
	.Plans-title{
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

}
@media (576px <= width <= 768){

}
@media (768px <= width <= 992){
	
}
@media (992px <= width <= 1200){
	
}
@media ( width > 1200){
	
}