.Titles{
	font-family: 'MontserratBold';
	font-size: 40px;
	font-weight: bold;
	line-height: 45px;
}


@media(max-width: 576px){
	.Titles{
		font-size: var(--font-size-mobile-h2);
		line-height: 30px;
	}
}
