.Hero{
	display: flex;
	flex-direction: column;
}

.Hero-h2{
	margin: 5.94rem 0 5.63rem 6.94rem;
	width: 665px;
}

.Hero-video{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	max-height: 37.5rem;
	object-fit: cover;
	object-position: center center;
}

.Hero-after{
	width: 100%;
	padding: 1.5rem 0;
	display: flex;
	justify-content: center;

	border-radius: 0px 0px 10px 10px;

	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.Hero-after--a {
	color: var(--color-primary);
	text-decoration: underline;
}

@media (max-width: 576px){
	.Hero-h2{
		margin: 2rem 0 2rem 0;
		width: 100%;
	}
	.Hero-after{
		padding: 0.5rem 0;
	}
	.Hero-after--a{
		font-size: 10px;
	}
}
@media (min-width: 576px) and (max-width: 992px){
	.Hero-h2{
		margin: 2rem 0 2rem 0;
		width: 100%;
	}
	.Hero-after{
		padding: 0.5rem 0;
	}
	.Hero-after--a{
		font-size: 10px;
	}
}

@media (992px <= width <= 1920px){

}
