.About{
	margin: var(--margin-sections) 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	
	gap: 2.81rem;
}

.About-item{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.About-item h4{
	font-weight: 700;
	font-family: 'MontserratBold';
}

.About-main{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.About-Button{
	margin: 40px 0 0 0;
	width: 100%;
}
.About-button-mobile{
	display: none;
}

hr{
	width: 50%;
	align-self: flex-end;
}


@media (100px <= width <= 576px){
	.About{
		margin: 4rem 0 0 0;
		width: 100%;
	}
	.About-item{
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.About-main{
		width: 100%;
		padding: 0;
	}
	hr{
		display: none;
	}
	.About-button{
		display: none;
	}
	.About-button-mobile{
		display: block;
		width: 100%;
	}
}
@media (576px <= width <= 992px){
	.About-button{
		display: none;
	}
	.About-button-mobile{
		display: inline-block;
	}
}
