.About{
	margin: var(--margin-sections) 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	
	gap: 2.81rem;
}

.About-item{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.About-item h4{
	font-weight: bold;
}

.About-main{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.About-Button{
	margin: 40px 0 0 0;
	width: 100%;
}

hr{
	width: 50%;
	align-self: flex-end;
}


@media (width <= 576px){
	.About{
		margin: 4rem 0 0 0;
		width: 100%;
	}
	.About-item{
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.About-main{
		width: 100%;
		padding: 0;
	}
	hr{
		display: none;
	}
	.About-Button{
		margin: 10px 0 0 0;
		width: 100%;
	}
}
@media (576px <= width <= 768){

}
@media (768px <= width <= 992){
	
}
@media (992px <= width <= 1200){
	
}
@media ( width > 1200){
	
}