.About{
	margin: var(--margin-sections) 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	
	gap: 2.81rem;
}

.About-item{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.About-item h4{
	font-weight: bold;
}

.About-main{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

/* Revisar button, posición */
.About-Button{
	margin: 3.75rem 0 0 0;
	align-self: flex-start;
}

hr{
	width: 50%;
	align-self: flex-end;
}