.Call{
	margin: var(--margin-sections) 0 0 0;
	padding: 5.81rem 7rem 0 7rem;
	width: 100%;
	height: 582px;
	background-color: var(--color-secondary);

	display: flex;
	justify-content: space-between;
	gap: 30px;

	border-radius: var(--border-radius-secondary);
	color: var(--color-primary);
}

.Call-section{
	margin: 3.63rem 0 0 0;
	width: 560px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.Call-section--text{
	display: flex;
	flex-direction: column;
	gap: 20px;
}


@media (100px <= width <= 576px){
	.Call{
		margin: 4rem 0 0 0;
		padding: 40px 15px 0 15px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.Call-section{
		margin: 0;
		width: 100%;
	}
	.Call-img{
		overflow: hidden;
		object-fit: cover;
		object-position: top;
	}
	.Call-button{
		width: 100%;
	}
}
@media (576px <= width <= 992px){
	.Call{
		margin: 4rem 0 0 0;
		padding: 40px 15px 0 15px;
		display: flex;
		flex-direction: column;
		height: 700px;
		gap: 40px;
	}
	.Call-section{
		margin: 0;
		width: 100%;
	}
	.Call-img{
		overflow: hidden;
		object-fit: cover;
		object-position: top;
	}
	.Call-button{
		width: 200rem;
	}
}
@media (992px <= width <= 1920px){
	.Call{
		padding: 2.7rem 2rem 0 2rem;
	}

}