.Header{
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 3;
	position: sticky;
	background-color: var(--color-primary);
}

.Header-container{
	padding: 5px 270px 5px 270px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header-button{
	display: flex;
	flex-basis: 0;
	justify-content: flex-end;
}


@media (100px <= width <= 576px){
	.Header-container{
		margin: 0;
		padding: 1rem;
	}
	.Header-button{
		display: none;
	}
}
@media (576px <= width <= 992px){
	.Header-container{
		margin: 0;
		padding: 5px 2rem 5px 32px;
	}
	.Header-button{
		display: none;
	}
}
@media (992px <= width <= 1440px){
	.Header-container{
		margin: 0;
		padding: 0.75rem 4rem 5px 4rem;
	}
}