.Header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header-button{
	display: flex;
	flex-basis: 0;
	justify-content: flex-end;
}


@media (width <= 576px){
	.Nav{
		display: none;
	}
}
@media (576px <= width <= 768){

}
@media (768px <= width <= 992){
	
}
@media (992px <= width <= 1200){
	
}
@media ( width > 1200){
	
}