.Header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header-button{
	display: flex;
	flex-basis: 0;
	justify-content: flex-end;
}


@media (width <= 576px){
	.Nav{
		display: none;
	}
}
@media (576px <= width <= 992px){
	.Nav{
		display: none;
	}
}
@media (992px <= width <= 1920px){

}