.Nav{
	display: flex;
}

.Nav-ul{
	display: flex;
	gap: 60px;
	padding: 0;
}
.Nav-li{
	padding: 5px 16px;
}
.Nav-li:hover{
	background-color: var(--color-tertiary);
	padding: 5px 16px;
	border-radius: 5px;
}

.Nav-li--a{
	font-weight: 500;
}

.Nav-close{
	display: none;
}
.Nav-button{
	display: none;
}
.Nav-header{
	display: none;
}
.Nav-footer{
	display: none;
}


@media (width <= 992px){
	.Nav-header{
		display: block;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
	}
	.Nav-footer{
		display: block;
	}
	.Nav{
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease-in-out;
		display: flex;
		flex-direction: column;

		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		background-color: var(--color-primary);
		width: 100vw;
		height: 100vh;
	}
	/* .Nav-close{
		display: block;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
	} */
	.Nav-visible{
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease-in-out;
	}
	.Nav-content{
		margin: 0 0 3rem;
	}

	.Nav-ul{
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 2rem;

		font-size: var(--font-size-mobile-h2);
	}
	.Nav-button{
		display: block;
		padding: 1rem;
	}
	.Nav-li--a{
		font-weight: 500;
	}

}

@media (992px <= width <= 1440px){

}