.test__wrapper{

}


.test__stage{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	
		background-color: var(--color-tertiary) ;
	
		min-width: 413px;
		min-height: 394px;
		border-radius: var(--border-radius-primary);
	
		padding: 1.875rem;
		gap: 30px;
}

.progress{
	position: relative;
	background-color: #00534b3d;
	color: aqua;
	height: 5px;
}

.progress-bar {
  height: 5px;
  background: var(--color-primary);
}
