.Footer{
	margin: var(--margin-sections) 0 44px 0 ;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Footer-content{
	margin: 44px 0 0 0;
	display: flex;
	align-items: center;
}

.Footer-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.Footer-social{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.Footer-social-strong{
	font-weight: bold;
}

.Footer-icons{
	margin: 3rem 0 0 0;
	display: flex;
	align-items: center;
	align-self: center;
	gap: 30px;
}
.Footer-img{
	width: 100%;
}

@media (max-width: 576px){
	.Footer{
		margin: 3rem 0 3rem 0;
	}
}
