@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #FFF;
  --color-secondary: #245CE9;
  --color-tertiary: #F8F8F8;
  --color-other: #DA2128;

  --border-radius-primary: 10px;
  --border-radius-secondary: 15px;


  --margin-sections: 8.75rem;


  --font-size-title: 30px;
  --font-size-subtitle: 30px;
  --font-size-sections: 20px;




    --swiper-scrollbar-border-radius: 10px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 10px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 4px;
    --swiper-scrollbar-sides-offset: 1%;
    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
    --swiper-scrollbar-drag-bg-color: var(--color-secondary);
    --swiper-scrollbar-size: 8px;

}


*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

body {
  font-family: 'Montserrat';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  /* text-wrap: wrap; */
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}



@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'MontserratBold';
  src: url(fonts/Montserrat-Bold.ttf);
}