@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #FFF;
  --color-secondary: #245CE9;
  --color-tertiary: #F8F8F8;

  --border-radius-primary: 10px;
  --border-radius-secondary: 15px;


  --margin-sections: 8.75rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: 'Montserrat';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}




@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf);
}