@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #FFF;
  --color-secondary: #245CE9;
  --color-tertiary: #F8F8F8;
  --color-other: #DA2128;

  --border-radius-primary: 10px;
  --border-radius-secondary: 15px;


  --margin-sections: 8.75rem;


  --font-size-title: 30px;
  --font-size-subtitle: 30px;
  --font-size-sections: 20px;

  --font-size-mobile-h2: 25px;
  --font-size-mobile-p: 16px;



    --swiper-scrollbar-border-radius: 10px;
    --swiper-scrollbar-top: none;
    --swiper-scrollbar-bottom: none;
    --swiper-scrollbar-left: none;
    --swiper-scrollbar-right: 4px;
    --swiper-scrollbar-sides-offset: 20%;
    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
    --swiper-scrollbar-drag-bg-color: var(--color-secondary);
    --swiper-scrollbar-size: 8px;


      --swiper-pagination-color: #141414;
      --swiper-pagination-left: auto;
      --swiper-pagination-right: 8px;
      --swiper-pagination-bottom: 8px;
      --swiper-pagination-top: auto;
      --swiper-pagination-fraction-color: inherit;
      --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
      --swiper-pagination-progressbar-size: 4px;
      --swiper-pagination-bullet-size: 8px;
      --swiper-pagination-bullet-width: 8px;
      --swiper-pagination-bullet-height: 8px;
      --swiper-pagination-bullet-inactive-color: #000;
      --swiper-pagination-bullet-inactive-opacity: 0.2;
      --swiper-pagination-bullet-opacity: 1;
      --swiper-pagination-bullet-horizontal-gap: 4px;
      --swiper-pagination-bullet-vertical-gap: 6px;
}


*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

body {
  font-family: 'Montserrat';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  /* text-wrap: wrap; */
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}


@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'MontserratBold';
  src: url(fonts/Montserrat-Bold.ttf);
  font-display: swap;
}

#plans, #stages, #userStories{
  margin: 0 0 10rem 0;
  background-color: #DA2128;
}