.Goal{
	width: 100%;
	font-size: var(--font-size-sections);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}

@media (max-width: 576px){
	.Goal{
		font-size: var(--font-size-mobile);
	}
}
