.Goals{
	width: 100%;
	margin: var(--margin-sections) 0 0 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.Goals-list{
	width: 100%;
	margin: 4rem 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
}


.Goals-ul{
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.Goals-img{
	place-self: flex-end;
	height: 700px;
	border-radius: 10px;
}