.Goal{
	width: 100%;
	font-size: var(--font-size-sections);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}

@media (100px <= width <= 576px){
	.Goal{
		font-size: var(--font-size-mobile);
	}
}
@media (576px <= width <= 768){

}
@media (768px <= width <= 992){
	
}
@media (992px <= width <= 1200){
	
}
@media ( width > 1200){
	
}